<h3 class="subtitle">Reactive form</h3>

<!--TODO 2.2.1 - propojte formulář s definicí-->
<form novalidate
      (ngSubmit)="onSubmit(userForm)"
      [formGroup]="userForm">

  <label class="label" for="userName">Name</label>
  <div class="control">
    <input class="input" id="userName" type="text"
           formControlName="name"
    />

    <app-form-control-errors controlName="name">
    </app-form-control-errors>
  </div>

  <label class="label" for="userSurname">Surname</label>
  <div class="control">
    <input class="input" id="userSurname" type="text"
           formControlName="surname"
    />

    <app-form-control-errors controlName="surname"></app-form-control-errors>
  </div>

  <app-user-contact-form formControlName="contact"></app-user-contact-form>

  <div class="control buttons">
    <button class="button is-primary" type="submit">Submit</button>
  </div>
</form>
