<div class="tabs is-centered">
  <ul>
    <li routerLinkActive="is-active">
      <a routerLink="/chat/rooms">Rooms</a>
    </li>

    <li routerLinkActive="is-active" *ngFor="let room of rooms | slice : 0:3">
      <!--TODO doplňte odkaz-->
      <a [routerLink]="['/chat/room', room.id]">{{room.title}}</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
