<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image" style="height: 40px; width: 40px;">
          <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{user.name}} {{user.surname}}</p>
      </div>
    </div>

    <div class="contact">
      Phone: {{user.contact.phone}} <br/>
      Email: {{user.contact.email}} <br/>
    </div>
  </div>
</div>
