<aside class="menu">
  <p class="menu-label">
    Menu:
  </p>
  <ul class="menu-list">
    <li>
      <a routerLink="/home" routerLinkActive="is-active">Home</a>
    </li>
    <li>
      <a routerLink="/chat" routerLinkActive="is-active">Chat</a>
    </li>
    <li>
      <a routerLink="/blind-chat" routerLinkActive="is-active">Blind chat</a>
    </li>
  </ul>
</aside>
