<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            User informations:
        </p>
    </header>

    <div class="card-content" [class.vip]="customer.score > 3">
        <div class="content">
            <div class="columns">
                <div class="column">
                    <p>
                        <b>name:</b><br/>

                        {{customer.name}}
                    </p>

                    <p>
                        <b>email:</b><br/>
                        {{customer.email}}
                    </p>
                </div>
                <div class="column">
                    <p>
                        <b>address:</b><br/>
                        {{customer.address |address}}
                    </p>
                </div>

                <div class="column">
                    <p>
                        <b>score:</b><br/>
                        <span>{{customer.score}} - {{getCustomerRank()}}</span>
                    </p>

                    <button type="button" class="button" (click)="decrease()" [disabled]="customer.score <= 0">
                        Decrease
                    </button>
                    <button type="button" class="button" (click)="increase()">Increase</button>

                </div>
            </div>
        </div>
    </div>
